<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="stile.css" rel="stylesheet" type="text/css">

  <title>Testi C.H.I.E.S.A.</title>
</head>
<body>
  <div class="sidebar block" style="width:20%">
    <h3 class="text mt10px mb25px">Canzoni Consigliate</h3>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Inizio</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/PopoliTutti " class="item button"><div class = "a" name="PopoliTutti">Popoli Tutti</div></a>
      <a href="/VivereLaVita" class="item button"><div class = "a" name="VivereLaVita">Vivere La Vita</div></a>
      <a href="/ACanaSiFaFesta" class="item button"><div class = "a" name="ACanaSiFaFesta">A Cana Si Fa Festa</div></a>
    </div>
  </div>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Gloria</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/GloriaADio" class="item button"><div class = "a">Gloria a Dio</div></a>
      <a href="/Gloria" class="item button"><div class = "a">Gloria </div></a>
      <a href="/GloriaGenVerde" class="item button"><div class = "a">Gloria (Gen Verde)</div></a>
    </div>
  </div>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Alleluia</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/AlleluiaBrasiliano" class="item button"><div class = "a">Alleluia brasiliano</div></a>
      <a href="/AlleluiaDiTaizè" class="item button"><div class = "a">Alleluia di Taizè</div></a>
      <a href="/AlleluiaCeltico" class="item button"><div class = "a">Alleluia celtico</div></a>
    </div>
  </div>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Offertorio</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/BenedettoNeiSecoli" class="item button"><div class = "a">Benedetto Nei Secoli</div></a>
      <a href="/Benedici" class="item button"><div class = "a"></div>Benedici </a>
      <a href="/Benediro" class="item button"><div class = "a">Benedir&ograve;</div></a>
    </div>
  </div>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Santo</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/Santo" class="item button"><div class = "a">Santo </div></a>
      <a href="/SantoJesus" class="item button"><div class = "a">Santo Jesus</div></a>
      <a href="/SantoSuperAfrica" class="item button"><div class = "a">Santo SuperAfrica</div></a>
    </div>
  </div>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Pace</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/Pace" class="item button"><div class = "a">Pace</div></a>
      <a href="/PacePaceSiaConTe" class="item button"><div class = "a">Pace, pace sia con te</div></a>
      <a href="/PaceSia" class="item button"><div class = "a">Pace sia</div></a>
    </div>
  </div>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Comunione</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/ESonoSoloUnUomo" class="item button"><div class = "a">E sono solo un uomo</div></a>
      <a href="/Mani" class="item button"><div class = "a">Mani</div></a>
      <a href="/Symbolum77" class="item button"><div class = "a">Symbolum '77</div></a>
    </div>
  </div>
  <div class="Drop">
    <button name="dropdown" class="button item"><div style="margin-left:5%">Fine</div></button>
    <div class="ContDrop" name="dropdowntobedisplayed">
      <a href="/ApriteviOCieli" class="item button"><div class = "a">Apritevi O Cieli</div></a>
      <a href="/ApriteviOCieli" class="item button"><div class = "a">Apritevi O Cieli</div></a>
      <a href="/ApriteviOCieli" class="item button"><div class = "a">Apritevi O Cieli</div></a>
      <a href="/ApriteviOCieli" class="item button"><div class = "a">Apritevi O Cieli</div></a>
      <a href="/ApriteviOCieli" class="item button"><div class = "a">Apritevi O Cieli</div></a>
      <a href="/CieliNuoviETerraNuova" class="item button"><div class = "a">Cieli nuovi e terra nuova</div></a>
      <a href="/DammiUnCuoreSignor" class="item button"><div class = "a">Dammi un cuore, Signor</div></a>
    </div>
  </div>
</div>
<header>
<div class="a">
  <h class="title bord">Super Canzoniere Clericale</h>
</div>
</header>
<footer>  <script type="text/javascript" src="script.js"></script> </footer>
</body>
</html>
